@import url("styles/header.css");
@import url("styles/about.css");
@import url("styles/metricas.css");
@import url("styles/vagas.css");
@import url("styles/card.css");
@import url("styles/footer.css");

:root {
    --cor-base: #FFFFFF;
    --gray: #667085;
    --dark-gray: #3A404E;
    --light-gray: #EAECF0;
    --dark-blue: #101828;
    --medium-cyan: #98A2B3;
    --light-cyan: #F9FAFB;
    --light-cyan-blue: #D0D5DD;
    --dark-red: #8E2424;
    --light-red: #8e24240d;
    --light-scarlet: #c4191908;
    --fonte-principal: "Inter";
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-base);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--fonte-principal);
}